# Biological signals exploration

This notebook is about the exploration of the biosignals. We need urine level, creatine level (and evolution), as well as other stuff like dialysis.

In [17]:
import psycopg2
import pandas as pd

In [65]:
# create a database connection
sqluser = 'mimicuser'
sqlpassword = 'mimicpass'
dbname = 'mimic'
schema_name = 'mimiciii'

# Connect to local postgres version of mimic
con = psycopg2.connect(dbname=dbname, host='localhost', user=sqluser, password=sqlpassword)
cur = con.cursor()
cur.execute('SET search_path to {}'.format(schema_name))

In [42]:
query = \
"""
SELECT * FROM d_items WHERE label ~* '.*urine.*' AND linksto='outputevents';
"""

urine_items = pd.read_sql_query(query,con)
print(urine_items.row_id.count())
urine_items.head()

107

,row_id,itemid,label,abbreviation,dbsource,linksto,category,unitname,param_type,conceptid
0,5612,40405,Urine Out Other,None,carevue,outputevents,None,None,None,None
1,5629,40428,Urine Out Straight Cath,None,carevue,outputevents,None,None,None,None
2,5706,40534,urine flush,None,carevue,outputevents,Free Form Intake,None,None,None
3,6503,41857,urine out in er,None,carevue,outputevents,None,None,None,None
4,6607,42001,ER URINE,None,carevue,outputevents,None,None,None,None

In [28]:
query = \
"""
DROP MATERIALIZED VIEW IF EXISTS urineoutput CASCADE;
CREATE MATERIALIZED VIEW urineoutput as
select oe.icustay_id, oe.charttime
, SUM(
    -- we consider input of GU irrigant as a negative volume
    case when oe.itemid = 227488 then -1*value
    else value end
  ) as value
from outputevents oe
where oe.itemid in
(
  -- these are the most frequently occurring urine output observations in CareVue
  40055, -- "Urine Out Foley"
  43175, -- "Urine ."
  40069, -- "Urine Out Void"
  40094, -- "Urine Out Condom Cath"
  40715, -- "Urine Out Suprapubic"
  40473, -- "Urine Out IleoConduit"
  40085, -- "Urine Out Incontinent"
  40057, -- "Urine Out Rt Nephrostomy"
  40056, -- "Urine Out Lt Nephrostomy"
  40405, -- "Urine Out Other"
  40428, -- "Urine Out Straight Cath"
  40086,--	Urine Out Incontinent
  40096, -- "Urine Out Ureteral Stent #1"
  40651, -- "Urine Out Ureteral Stent #2"

  -- these are the most frequently occurring urine output observations in MetaVision
  226559, -- "Foley"
  226560, -- "Void"
  226561, -- "Condom Cath"
  226584, -- "Ileoconduit"
  226563, -- "Suprapubic"
  226564, -- "R Nephrostomy"
  226565, -- "L Nephrostomy"
  226567, --	Straight Cath
  226557, -- R Ureteral Stent
  226558, -- L Ureteral Stent
  227488, -- GU Irrigant Volume In
  227489  -- GU Irrigant/Urine Volume Out
)
and oe.value < 5000 -- sanity check on urine value
and oe.icustay_id is not null
group by icustay_id, charttime;

SELECT * FROM urineoutput;
"""

urine = pd.read_sql_query(query,con)
urine.head()

   icustay_id           charttime  value
0      200001 2181-11-25 22:02:00  250.0
1      200001 2181-11-26 20:47:00   60.0
2      200001 2181-11-28 09:35:00   50.0
3      200003 2199-08-02 20:15:00  230.0
4      200003 2199-08-02 22:00:00    0.0

In [39]:
urine[urine.icustay_id==200003].head(30)

    icustay_id           charttime  value
3       200003 2199-08-02 20:15:00  230.0
4       200003 2199-08-02 22:00:00    0.0
5       200003 2199-08-02 23:00:00   90.0
6       200003 2199-08-03 00:00:00   37.0
7       200003 2199-08-03 01:00:00  220.0
8       200003 2199-08-03 02:00:00  120.0
9       200003 2199-08-03 03:00:00  275.0
10      200003 2199-08-03 03:15:00  300.0
11      200003 2199-08-03 03:45:00  360.0
12      200003 2199-08-03 04:00:00  320.0
13      200003 2199-08-03 05:00:00  280.0
14      200003 2199-08-03 06:00:00   70.0
15      200003 2199-08-03 08:00:00  230.0
16      200003 2199-08-03 09:00:00  250.0
17      200003 2199-08-03 10:00:00  140.0
18      200003 2199-08-03 11:00:00   80.0
19      200003 2199-08-03 12:00:00  110.0
20      200003 2199-08-03 13:00:00  130.0
21      200003 2199-08-03 14:00:00  110.0
22      200003 2199-08-03 15:00:00   80.0
23      200003 2199-08-03 19:00:00  220.0
24      200003 2199-08-03 20:00:00   80.0
25      200003 2199-08-03 21:00:00   45.0
26      200003 2199-08-03 22:00:00   50.0
27      200003 2199-08-03 23:00:00   50.0
28      200003 2199-08-04 00:00:00   45.0
29      200003 2199-08-04 01:00:00   60.0
30      200003 2199-08-04 03:00:00  130.0
31      200003 2199-08-04 04:00:00   45.0
32      200003 2199-08-04 05:00:00   40.0

In [48]:
query=\
"""
SELECT * FROM d_items WHERE label ~* '.*creatinine.*';
"""
    
creatine_items =pd.read_sql_query(query,con)
print(creatine_items.row_id.count())
creatine_items.head(8)

8

,row_id,itemid,label,abbreviation,dbsource,linksto,category,unitname,param_type,conceptid
0,710,791,Creatinine (0-1.3),None,carevue,chartevents,Chemistry,None,None,None
1,1914,5811,urine creatinine,None,carevue,chartevents,None,None,None,None
2,2871,3750,Creatinine (0-0.7),None,carevue,chartevents,Chemistry,None,None,None
3,2977,1525,Creatinine,None,carevue,chartevents,Chemistry,None,None,None
4,14682,227005,Creatinine_ApacheIV,Creatinine_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,None
5,12698,220615,Creatinine,Creatinine,metavision,chartevents,Labs,None,Numeric,None
6,14512,226751,CreatinineApacheIIScore,CreatinineApacheIIScore,metavision,chartevents,Scores - APACHE II,None,Numeric,None
7,14513,226752,CreatinineApacheIIValue,CreatinineApacheIIValue,metavision,chartevents,Scores - APACHE II,None,Numeric,None

In [54]:
query=\
"""
SELECT * FROM chartevents WHERE itemid=1525 AND subject_id=21 LIMIT 30;
"""

creatinine = pd.read_sql_query(query, con)
creatinine.head(100)

,row_id,subject_id,hadm_id,icustay_id,itemid,charttime,storetime,cgid,value,valuenum,valueuom,warning,error,resultstatus,stopped
0,34350768,21,111970,216859,1525,2135-02-04 04:08:00,2135-02-04 05:40:00,15331,2.4,2.4,None,None,None,Final,NotStopd
1,34352355,21,111970,216859,1525,2135-02-05 22:54:00,2135-02-05 23:37:00,15331,2,2.0,None,None,None,Final,NotStopd
2,34343799,21,109451,217847,1525,2134-09-13 02:58:00,2134-09-13 04:38:00,15331,3.2,3.2,None,None,None,Final,NotStopd
3,34348323,21,111970,216859,1525,2135-02-01 02:59:00,2135-02-01 03:51:00,15331,4.7,4.7,None,None,None,Final,NotStopd
4,34344876,21,109451,217847,1525,2134-09-13 21:37:00,2134-09-13 22:54:00,15331,2.5,2.5,None,None,None,Final,NotStopd
5,34347022,21,109451,217847,1525,2134-09-17 03:14:00,2134-09-17 04:38:00,15331,3.8,3.8,None,None,None,Final,NotStopd
6,34346105,21,109451,217847,1525,2134-09-15 14:10:00,2134-09-15 15:09:00,15331,3.6,3.6,None,None,None,Final,NotStopd
7,34349209,21,111970,216859,1525,2135-02-02 05:03:00,2135-02-02 05:50:00,15331,2.5,2.5,None,None,None,Final,NotStopd
8,34342806,21,109451,217847,1525,2134-09-12 04:30:00,2134-09-12 05:31:00,15331,4,4.0,None,None,None,Final,NotStopd
9,34345434,21,109451,217847,1525,2134-09-14 10:30:00,2134-09-14 11:25:00,15331,2.4,2.4,None,None,None,Final,NotStopd
10,34352652,21,111970,216859,1525,2135-02-06 04:03:00,2135-02-06 04:50:00,15331,2.4,2.4,None,None,None,Final,NotStopd
11,34349588,21,111970,216859,1525,2135-02-02 17:37:00,2135-02-02 18:36:00,15331,2.7,2.7,None,None,None,Final,NotStopd
12,34343010,21,109451,217847,1525,2134-09-12 13:30:00,2134-09-12 16:41:00,15331,4.6,4.6,None,None,None,Final,NotStopd
13,34344541,21,109451,217847,1525,2134-09-13 14:58:00,2134-09-13 16:01:00,15331,2.6,2.6,None,None,None,Final,NotStopd
14,34342576,21,109451,217847,1525,2134-09-11 21:52:00,2134-09-11 23:52:00,15331,3.7,3.7,None,None,None,Final,NotStopd
15,34345164,21,109451,217847,1525,2134-09-14 03:54:00,2134-09-14 05:01:00,15331,2.3,2.3,None,None,None,Final,NotStopd
16,34344244,21,109451,217847,1525,2134-09-13 09:00:00,2134-09-13 09:50:00,15331,2.8,2.8,None,None,None,Final,NotStopd
17,34345828,21,109451,217847,1525,2134-09-15 01:47:00,2134-09-15 02:50:00,15331,3,3.0,None,None,None,Final,NotStopd
18,34346423,21,109451,217847,1525,2134-09-16 04:50:00,2134-09-16 07:08:00,15331,4.2,4.2,None,None,None,Final,NotStopd
19,34350003,21,111970,216859,1525,2135-02-03 05:04:00,2135-02-03 06:15:00,15331,2.9,2.9,None,None,None,Final,NotStopd
20,34347514,21,111970,216859,1525,2135-01-31 05:20:00,2135-01-31 06:31:00,15331,4.2,4.2,None,None,None,Final,NotStopd
21,34351650,21,111970,216859,1525,2135-02-05 04:48:00,2135-02-05 05:43:00,15331,2.9,2.9,None,None,None,Final,NotStopd

In [69]:
query=\
"""
SELECT * FROM d_items WHERE label ~* '.*dialysis.*';
"""
    
dialysis_items = pd.read_sql_query(query,con)
print(dialysis_items.row_id.count())
dialysis_items.head(100)

99

,row_id,itemid,label,abbreviation,dbsource,linksto,category,unitname,param_type,conceptid
0,149,148,Dialysis Access Site,None,carevue,chartevents,None,None,None,None
1,150,149,Dialysis Access Type,None,carevue,chartevents,None,None,None,None
2,151,150,Dialysis Machine,None,carevue,chartevents,None,None,None,None
3,152,151,Dialysis Site Appear,None,carevue,chartevents,None,None,None,None
4,153,152,Dialysis Type,None,carevue,chartevents,None,None,None,None
5,5628,40425,dialysis output,None,carevue,outputevents,None,None,None,None
6,5681,40507,Dialysis out,None,carevue,outputevents,None,None,None,None
7,6122,41527,HEMODIALYSIS,None,carevue,outputevents,None,None,None,None
8,6964,41250,HEMODIALYSIS OUT,None,carevue,outputevents,None,None,None,None
9,7065,41374,Dialysis Out,None,carevue,outputevents,None,None,None,None
10,7095,41417,Hemodialysis Out,None,carevue,outputevents,None,None,None,None
11,6678,40881,Hemodialysis,None,carevue,outputevents,None,None,None,None
12,6697,40910,PERITONEAL DIALYSIS,None,carevue,outputevents,None,None,None,None
13,6781,41016,hemodialysis out,None,carevue,outputevents,None,None,None,None
14,6799,41034,dialysis in,None,carevue,outputevents,Free Form Intake,None,None,None
15,7501,42289,dialysis off,None,carevue,outputevents,None,None,None,None
16,7565,42388,DIALYSIS OUTPUT,None,carevue,outputevents,None,None,None,None
17,7667,42524,HemoDialysis,None,carevue,outputevents,None,None,None,None
18,7674,42536,Dialysis output,None,carevue,outputevents,None,None,None,None
19,5593,40386,hemodialysis,None,carevue,outputevents,None,None,None,None
20,6198,41635,Hemodialysis removal,None,carevue,outputevents,None,None,None,None
21,6351,41842,Dialysis Output.,None,carevue,outputevents,None,None,None,None
22,5778,40624,dialysis,None,carevue,outputevents,None,None,None,None
23,5829,40690,DIALYSIS,None,carevue,outputevents,None,None,None,None
24,6095,41500,hemodialysis output,None,carevue,outputevents,None,None,None,None
25,8980,43941,dialysis/intake,None,carevue,outputevents,Free Form Intake,None,None,None
26,9175,44199,HEMODIALYSIS O/P,None,carevue,outputevents,None,None,None,None
27,8422,44901,Dialysis Removed,None,carevue,outputevents,None,None,None,None
28,7963,42928,HEMODIALYSIS.,None,carevue,outputevents,None,None,None,None
29,7993,42972,HEMODIALYSIS OFF,None,carevue,outputevents,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
69,13986,225803,Dialysis - CVVHD,Dialysis - CVVHD,metavision,procedureevents_mv,Dialysis,None,Process,None
70,13987,225805,Peritoneal Dialysis,Peritoneal Dialysis,metavision,procedureevents_mv,Dialysis,None,Process,None
71,13990,225809,Dialysis - CVVHDF,Dialysis - CVVHDF,metavision,procedureevents_mv,Dialysis,None,Process,None
72,13991,225810,Dwell Time (Peritoneal Dialysis),Dwell Time (Hours),metavision,chartevents,Dialysis,hour,Numeric,None
73,14202,225776,Dialysis Catheter Dressing Type,Dialysis Catheter Dressing Type,metavision,chartevents,Access Lines - Invasive,None,Text,None
74,14213,225959,Medication Added Amount #1 (Peritoneal Dialysis),Medication Added Amount #1 (PD),metavision,chartevents,Dialysis,None,Numeric,None
75,14214,225961,Medication Added Units #1 (Peritoneal Dialysis),Medication Added Units #1 (PD),metavision,chartevents,Dialysis,None,Text,None
76,14215,225963,Peritoneal Dialysis Catheter Type,PD Catheter Type,metavision,chartevents,Dialysis,None,Text,None
77,14216,225965,Peritoneal Dialysis Catheter Status,PD Catheter Status,metavision,chartevents,Dialysis,None,Text,None
78,12275,70029,DIALYSIS FLUID,None,hospital,microbiologyevents,SPECIMEN,None,None,None
79,14152,225725,Dialysis Catheter Tip Cultured,Dialysis Catheter Tip Cultured,metavision,chartevents,Access Lines - Invasive,None,Checkbox,None
80,14167,225740,Dialysis Catheter Discontinued,Dialysis Catheter Discontinued,metavision,chartevents,Access Lines - Invasive,None,Text,None
81,14980,227638,Medication Added #2 (Peritoneal Dialysis),Medication Added #2 (PD),metavision,chartevents,Dialysis,None,Text,None
82,14981,227639,Medication Added Amount #2 (Peritoneal Dialysis),Medication Added Amount #2 (PD),metavision,chartevents,Dialysis,None,Numeric,None
83,14982,227640,Medication Added Units #2 (Peritoneal Dialysis),Medication Added Units #2 (PD),metavision,chartevents,Dialysis,None,Text,None
84,14256,226118,Dialysis Catheter placed in outside facility,Dialysis Cath placed in outside facility,metavision,chartevents,Access Lines - Invasive,None,Checkbox,None
85,14381,225951,Peritoneal Dialysis Fluid Appearance,PD Fluid Appearance,metavision,chartevents,Dialysis,None,Text,None
86,14382,225952,Medication Added #1 (Peritoneal Dialysis),Medication Added #1 (PD),metavision,chartevents,Dialysis,None,Text,None
87,14383,225953,Solution (Peritoneal Dialysis),Solution (PD),metavision,chartevents,Dialysis,None,Text,None
88,14384,225954,Dialysis Access Type,Dialysis Access Type,metavision,chartevents,Dialysis,None,Text,None
89,14385,225955,Dialysis - SCUF,Dialysis - SCUF,metavision,procedureevents_mv,Dialysis,None,Process,None
90,14389,226499,Hemodialysis Output,Hemodialysis Output,metavision,chartevents,Dialysis,mL,Numeric,None
91,13740,225126,Dialysis patient,Dialysis patient,metavision,chartevents,Adm History/FHPA,None,Checkbox,None
92,13741,225128,Last dialysis,Last dialysis,metavision,datetimeevents,Adm History/FHPA,None,Date time,None
93,13694,225318,Dialysis Catheter Cap Change,Dialysis Catheter Cap Change,metavision,datetimeevents,Access Lines - Invasive,None,Date time,None
94,13695,225319,Dialysis Catheter Change over Wire Date,Dialysis Catheter Change over Wire Date,metavision,datetimeevents,Access Lines - Invasive,None,Date time,None
95,13696,225321,Dialysis Catheter Dressing Change,Dialysis Catheter Dressing Change,metavision,datetimeevents,Access Lines - Invasive,None,Date time,None
96,13697,225322,Dialysis Catheter Insertion Date,Dialysis Catheter Insertion Date,metavision,datetimeevents,Access Lines - Invasive,None,Date time,None
97,13698,225323,Dialysis Catheter Site Appear,Dialysis Catheter Site Appear,metavision,chartevents,Access Lines - Invasive,None,Text,None
98,13699,225324,Dialysis CatheterTubing Change,Dialysis Catheter Tubing Change,metavision,datetimeevents,Access Lines - Invasive,None,Date time,None

In [68]:
query=\
"""
SELECT * FROM chartevents WHERE itemid=152;
"""

dialysis = pd.read_sql_query(query, con)
dialysis.value.value_counts()

CVVHD         50805
CVVH           8777
Peritoneal      206
Name: value, dtype: int64